.users {
	display: block;
	font-size: 1.5em;
	table {
		width: 100%;
	}
	thead {
		height: 7vh;
	}
	td {
		text-align: center;
		vertical-align: top;
	}
	&__common-dashboard {
		text-align: right;
		*[data-action] {
			cursor: pointer;
		}
	}
	&__dashboard {
		text-align: right;
	}
}
