<div class="modal-container">
	<form class="user-change-password-form" method="POST">
		<picture>
			<source srcset="../images/logo.webp" type="image/webp" />
			<img class="new-user-form__logo" title="My logo" alt="My logo" src="./images/logo.png" />
		</picture>
		<h1 class="new-user-form__title">Please set user Authorization Data</h1>
		<div class="new-user-form__row">
			<input type="hidden" name="uid" value="{{UserId}}" />
			<input class="new-user-form__input" type="password" name="old_password" placeholder="Old password" autofocus />
		</div>
		<div class="new-user-form__row">
			<input class="new-user-form__input" type="password" name="new_password" placeholder="New password" />
		</div>
		<div class="new-user-form__row">
			<input class="new-user-form__input" type="password" name="new_password_check" placeholder="New password Again" />
		</div>
		<div class="modal-buttons">
			<button type="submit" class="positive">Change</button>
			<button type="button" class="modal-close negative">Cancel</button>
		</div>
	</form>
</div>
