<aside class="left-side">
	<menu type="toolbar" class="dashboard">
		<li data-action="show-messages-list" class="dashboard__item active">
			<i class="fa fa-envelope"></i>
			<div class="dashboard__bar"></div>
		</li>
		<li data-action="show-archive-list" class="dashboard__item">
			<i class="fa fa-archive"></i>
			<div class="dashboard__bar"></div>
		</li>
		<li data-action="show-settings-list" class="dashboard__item">
			<i class="fa fa-cogs"></i>
			<div class="dashboard__bar"></div>
		</li>
		<li data-action="show-users-list" class="dashboard__item">
			<i class="fa fa-users"></i>
			<div class="dashboard__bar"></div>
		</li>
	</menu>
</aside>
