<aside class="left-side">
	<menu type="toolbar" class="dashboard">
		<li data-action="dashboard-redirect" class="dashboard__item">
			<a href="/messages"><i class="fa fa-envelope"></i></a>
			<div class="dashboard__bar"></div>
		</li>
		<li data-action="dashboard-redirect" class="dashboard__item">
			<a href="/archive"><i class="fa fa-archive"></i></a>
			<div class="dashboard__bar"></div>
		</li>
		<li data-action="user-edit-form" data-uid="{{UserID}}" class="dashboard__item">
			<i class="fa fa-user-plus"></i>
			<div class="dashboard__bar"></div>
		</li>
	</menu>
</aside>
